BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "outs0[0]" SITE "49" ;
LOCATE COMP "outs0[1]" SITE "47" ;
LOCATE COMP "outs0[2]" SITE "45" ;
LOCATE COMP "outs0[3]" SITE "43" ;
LOCATE COMP "outs0[4]" SITE "42" ;
LOCATE COMP "outs0[5]" SITE "44" ;
LOCATE COMP "outs0[6]" SITE "39" ;
LOCATE COMP "outs0[7]" SITE "41" ;
LOCATE COMP "ins0[0]" SITE "5" ;
LOCATE COMP "ins0[1]" SITE "6" ;
LOCATE COMP "ins0[2]" SITE "9" ;
LOCATE COMP "ins0[3]" SITE "10" ;
LOCATE COMP "ins0[4]" SITE "11" ;
LOCATE COMP "ins0[5]" SITE "12" ;
LOCATE COMP "ins0[6]" SITE "13" ;
LOCATE COMP "ins0[7]" SITE "14" ;
LOCATE COMP "cdiv0[0]" SITE "19" ;
LOCATE COMP "cdiv0[1]" SITE "20" ;
LOCATE COMP "cdiv0[2]" SITE "21" ;
LOCATE COMP "cdiv0[3]" SITE "22" ;
LOCATE COMP "cdiv0[4]" SITE "132" ;
LOCATE COMP "ens0" SITE "1" ;
