BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk00" SITE "61" ;
LOCATE COMP "cdiv00[4]" SITE "5" ;
LOCATE COMP "cdiv00[3]" SITE "6" ;
LOCATE COMP "cdiv00[2]" SITE "9" ;
LOCATE COMP "cdiv00[1]" SITE "10" ;
LOCATE COMP "cdiv00[0]" SITE "11" ;
LOCATE COMP "reset0" SITE "1" ;
LOCATE COMP "outFlagcc0" SITE "58" ;
LOCATE COMP "outFlagc0" SITE "57" ;
LOCATE COMP "outcontconfig0[4]" SITE "91" ;
LOCATE COMP "outcontconfig0[3]" SITE "92" ;
LOCATE COMP "outcontconfig0[2]" SITE "93" ;
LOCATE COMP "outcontconfig0[1]" SITE "94" ;
LOCATE COMP "outcontconfig0[0]" SITE "96" ;
LOCATE COMP "outcontdata0[4]" SITE "99" ;
LOCATE COMP "outcontdata0[3]" SITE "100" ;
LOCATE COMP "outcontdata0[2]" SITE "104" ;
LOCATE COMP "outcontdata0[1]" SITE "105" ;
LOCATE COMP "outcontdata0[0]" SITE "106" ;
LOCATE COMP "outwordLED0[7]" SITE "49" ;
LOCATE COMP "outwordLED0[6]" SITE "47" ;
LOCATE COMP "outwordLED0[5]" SITE "45" ;
LOCATE COMP "outwordLED0[4]" SITE "43" ;
LOCATE COMP "outwordLED0[3]" SITE "42" ;
LOCATE COMP "outwordLED0[2]" SITE "44" ;
LOCATE COMP "outwordLED0[1]" SITE "39" ;
LOCATE COMP "outwordLED0[0]" SITE "41" ;
LOCATE COMP "outRWLCD0" SITE "117" ;
LOCATE COMP "outRSLCD0" SITE "113" ;
LOCATE COMP "outENLCD0" SITE "115" ;
LOCATE COMP "outRWLED0" SITE "107" ;
LOCATE COMP "outRSLED0" SITE "40" ;
LOCATE COMP "outENLED0" SITE "38" ;
LOCATE COMP "outwordLCD0[7]" SITE "127" ;
LOCATE COMP "outwordLCD0[6]" SITE "128" ;
LOCATE COMP "outwordLCD0[5]" SITE "125" ;
LOCATE COMP "outwordLCD0[4]" SITE "126" ;
LOCATE COMP "outwordLCD0[3]" SITE "121" ;
LOCATE COMP "outwordLCD0[2]" SITE "122" ;
LOCATE COMP "outwordLCD0[1]" SITE "119" ;
LOCATE COMP "outwordLCD0[0]" SITE "120" ;
