BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Au[7]" SITE "5" ;
LOCATE COMP "Au[6]" SITE "6" ;
LOCATE COMP "Au[5]" SITE "9" ;
LOCATE COMP "Au[4]" SITE "10" ;
LOCATE COMP "Au[3]" SITE "11" ;
LOCATE COMP "Au[2]" SITE "12" ;
LOCATE COMP "Au[1]" SITE "13" ;
LOCATE COMP "Au[0]" SITE "14" ;
LOCATE COMP "Bu[7]" SITE "19" ;
LOCATE COMP "Bu[6]" SITE "20" ;
LOCATE COMP "Bu[5]" SITE "21" ;
LOCATE COMP "Bu[4]" SITE "22" ;
LOCATE COMP "Bu[3]" SITE "132" ;
LOCATE COMP "Bu[2]" SITE "133" ;
LOCATE COMP "Bu[1]" SITE "24" ;
LOCATE COMP "Bu[0]" SITE "23" ;
LOCATE COMP "Sel" SITE "4" ;
LOCATE COMP "Yu[7]" SITE "49" ;
LOCATE COMP "Yu[6]" SITE "47" ;
LOCATE COMP "Yu[5]" SITE "45" ;
LOCATE COMP "Yu[4]" SITE "43" ;
LOCATE COMP "Yu[3]" SITE "42" ;
LOCATE COMP "Yu[2]" SITE "44" ;
LOCATE COMP "Yu[1]" SITE "39" ;
LOCATE COMP "Yu[0]" SITE "41" ;
