BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "cdiv0[4]" SITE "10" ;
LOCATE COMP "cdiv0[3]" SITE "11" ;
LOCATE COMP "cdiv0[2]" SITE "12" ;
LOCATE COMP "cdiv0[1]" SITE "13" ;
LOCATE COMP "cdiv0[0]" SITE "14" ;
LOCATE COMP "en0" SITE "4" ;
LOCATE COMP "clk0" SITE "61" ;
LOCATE COMP "outdisplay0[6]" SITE "77" ;
LOCATE COMP "outdisplay0[5]" SITE "78" ;
LOCATE COMP "outdisplay0[4]" SITE "81" ;
LOCATE COMP "outdisplay0[3]" SITE "82" ;
LOCATE COMP "outdisplay0[2]" SITE "83" ;
LOCATE COMP "outdisplay0[1]" SITE "84" ;
LOCATE COMP "outdisplay0[0]" SITE "85" ;
LOCATE COMP "outtransist0[3]" SITE "73" ;
LOCATE COMP "outtransist0[2]" SITE "74" ;
LOCATE COMP "outtransist0[1]" SITE "75" ;
LOCATE COMP "outtransist0[0]" SITE "76" ;
